// Variables
:root {
	--main-color: linear-gradient(150deg, #152243, #464d5b);
	--secondary-color: #fff;
	--third-color: #178582;
	--fourth-color: #cab421;
	--header-height: 60px;
}

// Common Styles
*,
html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

li {
	list-style-type: none;
}

textarea:focus,
input:focus,
select:focus {
	box-shadow: none !important;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--secondary-color);
}

::-webkit-scrollbar-thumb {
	background: var(--main-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// Global Styles
:global {
	.toast-position {
		top: var(--header-height) !important;
		right: 0;
		width: 25vw;
	}

	.cms_normal-hover {
		cursor: pointer;
		opacity: 0.9;
	}

	.cms_animate-hover {
		user-select: none;
		transition: all 0.15s ease-out;
		&:hover,
		&:target {
			cursor: pointer;
			opacity: 0.9;
			scale: 0.98;
			background-color: #b1b1b139;
		}
	}

	.background-workspace {
		background-color: var(--main-color);
		color: var(--secondary-color);
		transform: translateX(0);
		opacity: 1;
		visibility: visible;
		transition:
			transform 0.5s ease-in-out,
			opacity 0.3s ease-in-out,
			visibility 0.3s ease-in-out;
		z-index: 99;
	}

	.header-height {
		height: var(--header-height);
	}

	.dropdown-height {
		top: calc(var(--header-height) / 12) !important;
		max-height: 50vh;
		max-width: 50vw;
		max-height: 100vw;
		overflow-y: auto;
		z-index: 10;
	}

	.user-avatar {
		width: calc(var(--header-height) / 1.4);
		height: calc(var(--header-height) / 1.4);
		overflow: hidden;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.user-avatar img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}

	.btn-primary {
		background-color: var(--third-color) !important;
		border: none;
		&:hover {
			opacity: 0.8;
		}
	}

	.btn-secondary {
		background-color: var(--fourth-color) !important;
		border: none;
		&:hover {
			opacity: 0.8;
		}
	}

	.btn-primary-circle {
		background-color: var(--third-color) !important;
		border: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		color: var(--secondary-color);
		width: calc(var(--header-height) / 1.4);
		height: calc(var(--header-height) / 1.4);
		&:hover {
			opacity: 0.8;
		}
	}

	.form-warning {
		font-size: 12px;
	}

	.card {
		margin: 20px 0 0 0;
	}
}
