.scroll-to-top {
	background-color: var(--third-color);
	border-radius: 50%;
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: 15px;
	right: 30px;
	z-index: 98;
	display: flex;
	justify-content: center;
	align-items: center;

	.arrow-up {
		color: var(--secondary-color);
		font-size: 28px;
		line-height: 50px;
	}

	@media (max-width: 992px) {
		display: none;
	}
}

